# Built outputs
*.apk
*.aab
*.ap_
*.dex
build/
app/build/

# Gradle
.gradle/
gradle/wrapper/gradle-wrapper.jar
local.properties

# Android Studio / IDE
*.iml
.idea/
*.DS_Store
captures/
.externalNativeBuild/
.cxx/

# Keystore
*.jks
*.keystore

# Misc
ui.xml
test.sh
